#input-form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    width: max-content;
}

.currency-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: max-content;
}

.country-info {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 1em;
}

#swap-button {
    width: 100%;
    align-self: center;
}